/* Bootstrap */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css");

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.banner {
  font-weight: bold;
}

div#disqus_thread {
  margin-top: 10px;
}